@using Microsoft.AspNetCore.Components.Web
@namespace PizzeriaPlace.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="PizzeriaPlace.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            A ocurrido un error.Esta aplicacion probablemente no responda hasta que se actualice.
        </environment>
        <environment include="Desarrollo">
            Una inesperada excepcion ha ocurrido. Revise los dev tools del navegador para mas detalles.
        </environment>
        <a href="" class="recargar">Recargar</a>
        <a class="Omitir">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
